.card {
    position: relative;
    height: 100%;
    border: 1px solid #E0E3EA;
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;
    background: white;

    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease,
        border 0.2s ease;
}

/* Hover эффект */
.card1:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card1.selected:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

/* Selected состояние */
.card.selected {
    border: 2px solid #7190EF;
    transform: scale(1.03);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

/* Disabled */
.card.disabled {
    opacity: 0.6;
    pointer-events: none;
}

/* Галочка контейнер */
.check-container {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 28px;
    height: 28px;

    background-color: #0176d3;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: popIn 0.15s ease-out;
}

/* Галочка контейнер моя версия*/
.check-container1 {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 28px;
    height: 28px;

    animation: popIn 0.15s ease-out;
}

/* Галочка */
.check-icon {
    --slds-c-icon-color-foreground-default: white;
}

/* Badge */
.badge {
    position: absolute;
    top: -14px;
    left: 20px;
    background: #1B963A;
    color: white;
    padding: 4px 13px;
    border-radius: 13px;
    font-size: 12px;
    font-weight: 600;
}

/* Typography */
.title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
}

.subtitle {
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 16px;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}

/* Анимация появления галочки */
@keyframes popIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
